---
layout: layouts/base.njk
section: home
permalink: "/index.html"
---
<article>

  {# <header class="pb--4">

    <div class="grid grid--intro">

      {# <div class="grid__item--span-4 mw--readable markdown">{{ settings.metadata.site_description | renderUsingMarkdown | safe }}</div> #}

    {# </div> #}

  {# </header> #}
</article>

<article class="pb--4">

  <sl-carousel pagination navigation mouse-dragging loop autoplay id="slCarousel"  class="mxht"> 
  {# class="mxht"> style="--aspect-ratio:16/9" #}
    {% set images = carousel_img.images %}
    {% for image in images %}
    <sl-carousel-item>
        {# Make an array of the enabled image formats from settings.yaml #}
        {% set outputFormats = [] %}
        {% for format, i in settings.images %}
          {% if i.enabled === true %}
            {{ '' if outputFormats.push(format) }}
          {% endif %}
        {% endfor %}

        {# Create an object for our main project image parameters which we can then
        destructure inside our shortcode function. See eleventy.js for what's going on #}
        {% set params = 
          {
            "src": image.src,
            "alt": image.caption or title,
            "loadingType": "eager",
            "viewportSizes": "(min-width: 540px) 90vw, 100vw",
            "outputWidths": [ 
              settings.config.image_width_md,
              settings.config.image_width_lg
            ],
            "outputFormats": outputFormats,
            "outputQualityJpeg": settings.images.jpeg.quality,
            "outputQualityWebp": settings.images.webp.quality,
            "outputQualityAvif": settings.images.avif.quality
          }
        %}

        {# The image shortcode #}
        {% generateImage params %}
      </sl-carousel-item>

      {% endfor %}

  </sl-carousel>

  {# 
  {% set projectList = collections.heritage | limit(settings.theme.theme_features.item_output_limit or 48) %}
  {% include "components/projectList.njk" %}
 
  {% set projectList = collections.projects | limit(settings.theme.theme_features.item_output_limit or 48) %}
  {% include "components/projectList.njk" %}
 #}

</article>

<div class="grid grid--description">
<h2 class="grid--section-title">About ::</h2>
<div class="grid__item--span-4 mw--readable markdown pb--4">
 <h2 class="grid--section-spacer"> </h2> 
    <article>
      
      
      <p>Nathaniel Miller Architecture is a small architectural practice specializing in design and documentation of projects varying from the smallest alterations to complex & bespoke designs.</p>

      <p>After graduating in 2007, Nathaniel spent 14 years working for several award-winning practices across the South Island including 9 years at Warren and Mahoney Architects. 
      Project experience includes a wide variety of residential work from the smallest alterations to multi-unit apartments, townhouses and large bespoke designs such as Millbrook Resort. 
      Other project experience includes Southern Cross Hospitals, Anglican Churches, Otago + Canterbury Universities and 3 years on the restoration of The Christchurch Townhall.</p>

      <p>Nathaniel loves connecting with the story and people behind every project then embarking on the search for the best solution. He has built a reputation of completing projects with craft and clarity.</p>
    </article>
</div>
{# </div>

<div class="grid grid--description"> #}
<h2 class="grid--section-title">Services ::</h2>
  <div class="grid__item--span-4 mw--readable markdown">
    <h2 class="grid--section-spacer"> </h2>
    <article>
      <ul>· Residential - all types
        <a href="/projects/residential"><span class="arrow arrow--right"></span></a>
      </ul>
      <ul>· Alterations and additions
        <a href="/projects/alterations"><span class="arrow arrow--right"></span></a>
      </ul>
      <ul>· Commercial
        <a href="/projects/commercial"><span class="arrow arrow--right"></span></a>
      </ul>
      <ul>· Design and documentation</ul>      
      <ul>· Thermal modelling</ul> 
      <ul>· Sustainable design</ul>
      <ul>· Rendering</ul>
      <ul>· Resource and Building Consents</ul>
      <ul>· Architectural project management (construction)</ul>

    </article>
</div>
</div>

{# Appended to <head> during build #}
{% include "components/opengraph.njk" %}

<style>
  sl-carousel {
    opacity: 0;
  }

  sl-carousel.ready {
    opacity: 1;
    transition: 0.25s opacity;
  }
</style>
  {# Shoelace #}

<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"></script>


<script type="module">
  await Promise.allSettled([
    customElements.whenDefined('sl-carousel')
  ]);

  // Carousel is registered now! Add
  // the `ready` class so the UI fades in.
  {# document.sl-carousel.classList.add('ready'); #}
  const elC = document.getElementById("slCarousel");
  elC.classList.add('ready');
</script>