<header class="p--2">

	<div class="grid grid--header">

		<a href="{{ '/' | url }}" class="grid__item link-nocolor">
      {# SEO: home page header title should be inside a h1 tag #}
      {# {% if page.url == "/" %} #}
				{# input logo image here #}
				<div class="logo">
				{% set params = 
							{
								"src": "/assets/uploads/NMA_Logo.jpg",
								"alt": "Nathanial Miller Architecture",
								"class": "logo",
								"loadingType": "eager",
								"viewportSizes": "(min-width: 1140px) 22vw, (min-width: 540px) 22vw, 60vw",
								"outputWidths": [
									settings.config.image_grid_width_sm,
									settings.config.image_grid_width_md,
									settings.config.image_grid_width_lg
								],
								"outputFormats": outputFormats,
								"outputQualityJpeg": settings.images.jpeg.quality,
								"outputQualityWebp": settings.images.webp.quality,
								"outputQualityAvif": settings.images.avif.quality
							}
						%}

						{# The image shortcode #}
						{% generateImage params %}
				</div>
				{# <h1><span class="site_title">{{ settings.metadata.site_title }}</span></h1>
      {% else %}
        <span>{{ settings.metadata.site_title }}</span>
      {% endif %} #}
		</a>

		{% if settings.metadata.site_subtitle_1 %}
			<span class="grid__item">{{ settings.metadata.site_subtitle_1 }}</span>
		{% endif %}

		{% if settings.metadata.site_subtitle_2 %}
			<span class="grid__item">{{ settings.metadata.site_subtitle_2 }}</span>
		{% endif %}
			<div class="grid_item">
			</div>
			<div class="grid_item grid__item--end">
				<a href="{{ '/projects/residential' | url }}" class="nav" >
					<span>Residential</span><span class="not-vis">&#x2192;</span>
				</a>
				<a href="{{ '/projects/alterations' | url }}" class="nav">
					<span>Alterations</span><span class="not-vis">&#x2192;</span>
				</a>
				<a href="{{ '/projects/commercial' | url }}" class="nav">
					<span>Commercial</span><span class="not-vis">&#x2192;</span>
				</a>	
			</div>	



		{% if settings.theme.theme_features.enable_dark_mode %}

			<div class="grid__item grid__item--end grid__item--top">
				<div class="dark-toggle">
					<label for="toggle" class="toggle__label">
						<span class="toggle__text">Toggle Dark Mode</span>
						<input type="checkbox" name="toggle" id="toggle" class="toggle__checkbox">
						<svg width="14" height="14" viewBox="0 0 16 16">
							<circle pid="0" cx="8" cy="8" r="7.5" fill="var(--color-text)" stroke="var(--color-text)"></circle>
							<path pid="1" d="M1 8a7 7 0 007 7V1a7 7 0 00-7 7z" fill="var(--color-background)"></path>
						</svg>
					</label>
				</div>
				
			</div>

		{% endif %}

	</div>
	
</header>